body {
    margin : 50px;
    background-color: #483D8B;
    background: linear-gradient(to right, #483D8B, #EE82EE);
    line-height: 1;
}
.content {
    margin: 0 auto;
}
.adminblock
{
    margin-top: -20%;
    border-radius: 10px;
    box-shadow: 10px 10px 7px 2px rgba(0,0,0,0.75);
    width: 70%;
    height: 50vw;
    background-color: #FFFFFF;
    margin-left: 25%;
}

span .adminblock
{
    top: 20px;
    position: relative;
}
.text
{
    padding-top: 1vw;
    text-align: center;
}
.nav td > a {
    display: block;
    position: relative;
    line-height: 44px;
    padding: 0 20px;
    font-size: 1.7vw;
    font-weight: bold;
    color: white;
    text-align: center;
    text-decoration: none;
    outline: 0;
}
.nav td
{
    position: relative;
    height: 44px;
    color: white;
    text-shadow: 0 1px white;
    background-color: rgba(0, 0, 0, 0.05);
    border: 1px solid;
    border-color: #cfcfcf #d6d6d6 #c8c8c8;
    border-radius: 10px;
}
.nav td:hover
{
    cursor: pointer;
    text-shadow: 1px 1px 1px #000;
    background-color: #634076;
}
.title
{
    padding-top: 2vw;
    padding-bottom: 4vw;
    text-align: center;
    font-size: 2.5vw;
    color: white;
}
.adminform {
    margin-left: 10%;
    margin-top: 5px;
}
